a:link {
color: #789CB6;
font: normal 10px Arial, Helvetica, sans-serif;
} 
a:visited {
color: #6B838F;
font: normal 10px Arial, Helvetica, sans-serif;
} 
a:hover {
color: #393939;
font: normal 10px Arial, Helvetica, sans-serif;
} 
a:active {
color: #393939;
font: normal 10px Arial, Helvetica, sans-serif;